#pop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height: 200px;
    color: black;
    background-color: white;
    height: fit-content;
}
#name, #email{
    display: flex;
    font-weight: bold;
    font-size: x-large;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#click{
    display: flex;
    justify-content: center;
}


  img{
    border-radius: 50%;
    height: 100px;
    width: 120px;
  }
  #img{
    display: flex;
    justify-content: center;
  }
  #all{
    background-color: white;
    border-radius: 10px;
  }
  p{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }